@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cargo Management</h1>

</div>
<div class="card bg-dark text-black-50">
    
    <img src="Cargo/Cargo-Management-System.jpg" class="Cargo" alt="...">

    <div class="card-img-overlay">
        <h5 class="card-title"></h5>
        <p class="card-text"> Online Cargo Management Service</p>
        <p class="card-text"></p>
    </div>
</div>